 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1194px;
}

.u-section-1 .u-group-1 {
  width: 499px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 362px;
  height: auto;
  margin: 376px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 1px 89px 0 254px;
}

.u-section-1 .u-image-1 {
  width: 214px;
  min-height: 270px;
  background-image: url("images/2022-09-2416.14.43.jpg");
  background-size: 175%;
  margin: -19px auto 0 11px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -240px 0 0 253px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 13px 15px 0 254px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.875rem;
  margin: 94px 100px 0 auto;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-group-3 {
  width: 647px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 362px;
  height: auto;
  margin: -6px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 25px 29px;
}

.u-section-1 .u-image-2 {
  width: 336px;
  min-height: 290px;
  background-image: url("images/2022-09-2416.20.58.jpg");
  margin: 0 auto 0 1px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -287px 87px 0 384px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 12px 0 0 381px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.875rem;
  margin: 126px 101px 0 auto;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-group-5 {
  width: 499px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 362px;
  height: auto;
  margin: -363px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 157px;
  background-image: url("images/2022-09-2416.17.24.jpg");
  background-position: 50% 35.1%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-group-7 {
  width: 647px;
  min-height: 361px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -716px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 14px 20px;
}

.u-section-1 .u-image-4 {
  width: 339px;
  min-height: 273px;
  background-image: url("images/2022-09-2416.05.34.jpg");
  margin: 13px 7px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: -267px 400px 0 90px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 13px 400px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 11px 400px 0 15px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.875rem;
  margin: 82px auto 0 100px;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-group-9 {
  min-height: 375px;
  margin-top: -728px;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 23px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  margin: 16px 90px 0 885px;
}

.u-section-1 .u-image-5 {
  width: 831px;
  min-height: 318px;
  height: auto;
  background-image: url("images/basequelcheresta.png");
  background-position: 50% 50%;
  margin: -14px auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -293px 0 0 885px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 11px 16px 0 885px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.875rem;
  margin: 29px 102px 0 auto;
  padding: 0 31px 0 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 553px 1002px 0 32px;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 722px 0 32px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.875rem;
  margin: 6px auto 60px 32px;
  padding: 0 31px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-9 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 775px;
  }

  .u-section-1 .u-image-5 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: 685px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 685px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 834px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 554px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-9 {
    margin-left: 555px;
  }

  .u-section-1 .u-image-5 {
    width: 673px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 465px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 465px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 614px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 53px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 312px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 32px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 357px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 357px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 316px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 13px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 402px;
  }

  .u-section-1 .u-image-5 {
    width: 520px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 312px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 312px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 434px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 10px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 203px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 112px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 204px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 204px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 128px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 202px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 112px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 112px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
}